.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 15px;
}

.post {
  flex-grow: 1;
  border: 1px solid #444;
  border-radius: 15px;
  transition: all 0.3 ease-in-out;
}
.post:hover {
  background-color: black;
  border: 1px solid #fff;
}

.Image {
  object-fit: cover;
  border-radius: 15px;
}

.title {
  font-weight: 700;
  padding: 20px;
}

.text {
  font-size: 15px;
  color: #999;
  padding: 20px;
}
