.post {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  border: 1px solid #555;
  border-radius: 5px;
}

.post:nth-child(even) {
  flex-direction: row-reverse;
}

.image {
  object-fit: cover;
  border-radius: 15px;
}

.title {
  font-weight: 700;
}

.text {
  font-size: 15px;
  color: #999;
}
